/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/bootstrap/cache/
.env
.env.*.local
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
/.phpstorm.meta.php
_ide_helper.php

/public/hot
/public/storage
/public/js/
/public/css/
/public/mix-manifest.json

/coverage

Thumbs.db

composer.lock
!/composer.lock

.idea
.phpstorm.meta.php
_ide_helper.php
*.swp
*.swo

deploy.php
deploy_*.php

docker-compose.override.yml